/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* inter font */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* raleway */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* css reset */
* {
  padding: 0;
  margin: 0;
}
/* css shared style */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.primary-color {
  color: #4e47ff;
}
.secondary-color {
  color: #252432;
}
.section-button {
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background: #4e47ff;
  padding: 12px 36px;
  cursor: pointer;
}
.section-button:hover {
  /* font-size: 18px; */
  background: #fff;
  color: #4e47ff;
  outline: 3px solid #4e47ff;
  transition: all 0.2s ease-in-out;
}
.section-space-top {
  padding-top: 100px;
}
.section-space-bottom {
  padding-bottom: 100px;
}
.text-center {
  text-align: center;
}

/* header */
header {
  background-image: url("/Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* nav section */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.logo h1 {
  font-size: 34px;
  font-weight: 900;
}

.banner-container {
  padding: 70px 0 120px 0;
}
.banner-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 36px;
  padding: 0 250px;
}

/* preview section */
.preview-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview-title {
  font-size: 42px;
  font-weight: 700;
}
.preview-description {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px; /* 125% */
  margin: 20px 0;
}
.preview-img {
  border-radius: 48px;
}
/* user section */
.user-container {
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
}
.user-items {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.user-title {
  font-size: 36px;
  font-weight: 700;
}
.user-item h3 {
  font-size: 64px;
  font-weight: 700;
}
.user-item p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: 400;
}
