/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* inter font */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* raleway */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* css reset */
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f5f8ff;
}
/* css shared style */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.primary-color {
  color: #4e47ff;
}
.secondary-color {
  color: #252432;
}
.section-button {
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background: #4e47ff;
  padding: 12px 36px;
  cursor: pointer;
}
.section-button:hover {
  /* font-size: 18px; */
  background: #fff;
  color: #4e47ff;
  outline: 3px solid #4e47ff;
  transition: all 0.2s ease-in-out;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
}
.section-space-top {
  padding-top: 100px;
}
.section-space-bottom {
  padding-bottom: 100px;
}
.text-center {
  text-align: center;
}

/* header */
header {
  background-image: url("/Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* nav section */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.logo h1 {
  font-size: 34px;
  font-weight: 900;
}

.banner-container {
  padding: 70px 0 120px 0;
}
.banner-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 36px;
  padding: 0 250px;
}

/* preview section */
.preview-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview-title {
  font-size: 42px;
  font-weight: 700;
}
.preview-description {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px; /* 125% */
  margin: 20px 0;
}
.preview-img {
  border-radius: 48px;
}
/* user section */
.user-container {
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
}
.user-items {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.user-item h3 {
  font-size: 64px;
  font-weight: 700;
}
.user-item p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: 400;
}
/* feedback section */
.feedback-items {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.feedback-item {
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.5);
  padding: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.feedback-title {
  color: #1e1e1e;
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
}
.feedback-description {
  font-size: 16px;
  color: #1e1e1e;
  font-weight: 400;
  margin: 24px 0;
}
.feedback-profile {
  display: flex;
  align-items: center;
}
.feedback-img {
  border-radius: 50%;
  margin-right: 10px;
}
.feedback-profile-content h5 {
  font-size: 16px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 5px;
}
.feedback-profile-content p {
  font: size 16px;
  font-weight: 400;
  color: #b3b3b3;
}
/* template section */
.template-container {
  border-radius: 14px;
  background: #fff;
  padding: 70px 0;
}
.template-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  margin: 20px 0;
}
.template-img {
  display: block;
  margin: 0 auto;
  border-radius: 48px;
  margin-top: 20px;
}
/* form section */
.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 100px;
  margin-top: 50px;
}
.form-container h2 {
  color: #000;
  font-size: 98px;
  font-weight: 700;
  width: 50%;
}
.form-content {
  width: 50%;
}
.form-content label {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.form-content div {
  margin-bottom: 20px;
}
.form-content input[type="text"],
input[type="email"],
textarea {
  padding: 20px 0 20px 20px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #d6dded;
  background: #fff;
  margin-top: 10px;
  outline: none;
  box-sizing: border-box;
}

.form-btn {
  display: block;
  width: 100%;
}
/* footer section */
.footer-container {
  background-color: #fff;
  padding: 100px 0;
}
.footer-title {
  text-align: center;
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer-description {
  color: #8987a1;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 10px 0 20px 0;
}
.footer-links {
  display: flex;
  justify-content: center;
}
.footer-links li {
  list-style: none;
}
.footer-links li a {
  color: #8987a1;
  font-size: 18px;
  padding: 0 40px 0 0;
  text-decoration: none;
}
.footer-links li a:hover {
  color: #4e47ff;
  transition: all 0.2s ease-in-out;
}
